{% extends 'analysis/base.html' %}
{% block content %}

<div class="content-wrapper">
    <div class="container-fluid">
<!--        &lt;!&ndash; パンくずリスト&ndash;&gt;-->
<!--        <ol class="breadcrumb">-->
<!--            <li class="breadcrumb-item">-->
<!--                ログイン画面-->
<!--            </li>-->
<!--            <li class="breadcrumb-item active">-->
<!--                ユーザ登録画面-->
<!--            </li>-->
<!--            <li class="breadcrumb-item active">-->
<!--                ユーザ登録完了画面-->
<!--            </li>-->
<!--        </ol>-->

        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-server"></i>
                <b>ユーザー登録完了</b>
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    ユーザー登録しました．
                </div>
                <!-- 列設定-->
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary" href="{% url 'analysis:analysis_create' pk=280 %}">
                            個人情報登録へ進む
                        </a>
                    </div>
                </div>

{% endblock content %}