{% extends 'analysis/base.html' %}

<!-- カレンダー入力の設定-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


{% load bootstrap %}
{% block content %}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-wrapper">

                    <div class="container-fluid">

                        <!-- パンくずリスト-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'analysis:topview' %}">ログイン画面</a>
                            </li>
                            <li class="breadcrumb-item active">
                                新規登録画面
                            </li>
                        </ol>

                        <!-- 新規登録画面-->
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-server"></i>
                                <h3>新規登録画面</h3>
                            </div>
                            <div class="card-body">

                                {{ form|bootstrap }}

                            </div>
                        </div>

                        <!-- 列設定-->
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary">登録する</button>
                            </div>
                        </div>

                    </div><!--container-fluid-->
                    {% csrf_token %}
</form>

{% endblock %}